{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["Chrome >= 62"]
            }
        }]
    ],
    "plugins": [
        "babel-plugin-transform-class-properties"
    ]
}